<!DOCTYPE html>
<html lang="en">
<head>
  <title>LoginRegisterApi</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/register">Register</a>
      </li>    
    </ul>
  </div>  
</nav>
<br>
<div class="container text-center">
  <h1>Create Article</h1>
<form action="/admin/updateArticle" method="post" enctype="multipart/form-data"> 
    
    <div class="form-group">
        <label for="number">Number:</label>
        <input type="number" value="<%= article.number %>" class="form-control"placeholder="Enter number" name="number" id="number">
    </div>

    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" value="<%= article.title %>" class="form-control" placeholder="Enter title" name="title" id="title">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <input type="text"  value="<%= article.description %>" class="form-control" placeholder="Enter description" name="description" id="description">
    </div>
    <div class="form-group">
         <textarea name="content" class="form-control"  rows="10" >
           <%= article.content %>
         </textarea>
     </div>
     <p>
        <img src="/images/<%= article.image %>" width="400" height="250" alt="">
      </p>
     <div class="form-group">
       <input type="file" class="form-control" name="image" >
    </div>
    <input type="hidden"    value="<%= article._id %>"  name="id">
  
    <button type="submit" class="btn btn-primary">Add New Article</button>
  </form>



</body>
</html>
