<div class="col-md-6">
    <h1><%= article.number %></h1>
    <h1><%= article.title %></h1>
    <h2><%= article.description %></h2>
    <h2><%= article.content %></h2>
    <p>
      <img src="/images/<%= article.image %>" width="400" height="250" alt="">
    </p>
    <a href="/admin"><button type="button" class="btn btn-success">GO BACK</button></a>
  </div> 